@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);

:host {
    .listagem {
        display: flex;
        // position: absolute;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.412));

        .pokemon {
            position: relative;
            display: flex;
            background: var(--branco);
            width: calc(49% - 2.5rem);
            height: rem-calc(157 - 40);
            padding: $padding;
            border-radius: rem-calc(10);
            margin-bottom: rem-calc(10);
            text-decoration: none;
            color: var(--primary-color);
            transition: 0.5s;

            &:hover {
                transition: 0.5s;
                
                img {
                    transition: 0.5s;
                    width: rem-calc(120);
                }
            }

            &__status {
                h2 {
                    font-size: rem-calc(26);
                    // font-style: italic;
                    font-weight: 900;
                    text-transform: capitalize;
                    margin-bottom: rem-calc(10);
                }

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        background: var(--cinza);
                        font-size: rem-calc(13);
                        text-transform: capitalize;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border-radius: rem-calc(50);

                        width: rem-calc(60);
                        margin-bottom: rem-calc(7);

                        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.1));
                    }
                }
            }

            &__image {
                position: absolute;

                display: flex;
                align-items: center;
                justify-content: center;

                height: rem-calc(90);
                width: rem-calc(110);

                right: $padding;
                bottom: $padding;

                background: url('../../../assets/bg/background-list-pokemon.svg') no-repeat;

                img {
                    transition: 0.5s;
                    width: rem-calc(110);
                    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.412));
                }
            }
        }
    }
}